<h1>Perfil de Usuario</h1>
<hr>

<pre *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile | json }}</code>
    <div class="card">
        <img class="card-img-bottom" [src]="profile.picture" alt="Card image cap" width="286">
        <div class="card-body">
          <h5 class="card-title">{{ profile.given_name }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</pre>


