<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Auth0 App</a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/precios']" routerLinkActive="active" >Precios</a>
        </li>
        <li class="nav-item" *ngIf="auth.loggedIn">
          <a class="nav-link" [routerLink]="['/protegida']" routerLinkActive="active" >Protegida</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button *ngIf="!auth.loggedIn" (click)="auth.login()" class="btn btn-outline-primary">Ingresar</button>
        <button *ngIf="auth.loggedIn"  (click)="auth.logout()" class="btn btn-outline-danger">Salir</button>
      </span>
    </div>
  </nav>